---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #ddd;
  }
</style>
  
<footer>
  <p>Learn more about my projects on <Social url="https://github.com/shadowfox" platform="github" /></p>
</footer>

